<div class="color w-[18rem] md:w-md h-60 relative flex flex-col justify-center items-center px-8 mx-2 md:mx-0 rounded-xl">
  <div class=" absolute top-6 left-7 ">
    <img src="images/card-logo.svg" alt="logo" />
  </div>

  <div class="w-full  mt-26 text-[1.5rem] md:text-3xl text-left text-white">{{ displayNumber }}</div>
  <div class="flex justify-between items-center w-full  mt-6 text-[0.8rem] md:text-[1.1rem] text-white font-light">
    <div>{{ displayName }}</div>
    <div>{{ displayExpiry }}</div>
  </div>
</div>
