.color{
    background-image: url('./../../../../public/images/bg-card-front.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    margin-right: 23rem;
}
@media (max-width:1020px) {
    .color{
        margin-right: 0rem;
    }
    
}