.color{
    background-image: url('./../../../../public/images/bg-card-front.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    margin-right: 10rem;
    
}
@media (max-width:1250px) {
    .color{
        margin-right: 0rem;
    }
    
}
@media (max-width:400px) {
    .color{
        position: absolute;
        top: 10rem;
        left: -1.2rem;
        z-index: 10;
    }
    
}