/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lobster&family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';


body {
  background-image: url('../public/images/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
}

@media (max-width: 800px) {
  body {
    background-image: url('../public/images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
